.about-section {
  height: 60vh;
  margin-top: -10vh;

  background-color: rgb(223, 224, 233);
}
.about-text {
  color: rgb(36, 54, 82);
  font-size: 28px;
  top: 20vh;
  padding-top: 16%;
  padding-left: 35%;
  padding-right: 35%;
  position: absolute;
}
