.about-section {
  height: 90rem;
  margin-top: -20rem;

  background-color: rgb(223, 224, 233);
}
.about-text {
  color: rgb(36, 54, 82);
  font-size: 2.8rem;
  top: 34rem;
  padding-top: 37rem;
  padding-left: 45rem;
  padding-right: 45rem;
  position: absolute;

  @media (max-width: 1200px) {
    font-size: 3px;
  }
}
